<footer id="sticky-footer" class="p-1 volk-black ">
<%= image_tag 'black_volk_transparent.png', alt: 'Example Image', style: 'width: 5%;' %>
  <a href="mailto:info@volkpickleball.com" class= 'text-white' target="_blank">Email Us</a>
</footer>